<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">About Me</h1>
		
		<div class="row">
			<p style="text-align: justify;" >
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi fugiat rem fuga consequuntur adipisci iste expedita quo mollitia facere doloremque porro molestias, recusandae asperiores debitis qui, assumenda pariatur labore vel, est. Porro nulla quasi, aut quis, voluptatum quaerat ea, repudiandae animi officia quam quae, consequatur nostrum voluptatibus delectus unde accusamus. Molestiae molestias, mollitia, ullam eaque soluta itaque fuga fugit accusamus sunt. Est consectetur nostrum aliquam, error inventore. Quidem omnis enim accusantium voluptatum distinctio nisi cumque similique maiores nam sequi modi inventore fugiat, fuga voluptatibus labore recusandae illum in aperiam, necessitatibus nihil? Laudantium hic cumque, veniam quam assumenda esse quos blanditiis.
			<br>
			<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque maxime veniam iusto, eum vel repudiandae hic, asperiores nemo provident accusamus, veritatis quasi aliquam quia nam voluptatibus aspernatur voluptate sapiente sed quae facere! Quasi molestiae, vero adipisci architecto esse dolorem similique officia, optio rem a provident est obcaecati incidunt et porro. Consectetur rem quibusdam accusantium nesciunt numquam laborum et porro obcaecati distinctio, molestias quis pariatur odio labore fuga quod, temporibus quasi natus dolor cumque dicta corporis est inventore in. Ipsum mollitia ratione vero quaerat placeat laboriosam accusamus quos. Cupiditate et omnis excepturi accusantium, atque quasi, similique, ea tempore voluptatibus eum assumenda!
			
			</p>
		</div>
		<div class="btn-group" role="group" aria-label="Basic example">
		  <button type="button" class="btn btn-secondary">Github</button>
		  <button type="button" class="btn btn-secondary">Instagram</button>
		  <button type="button" class="btn btn-secondary">Snapchat</button>
		</div>
	</div>
</div>